// Variebles section

$background_color: #101010;
$primary_color: #ff3f3f;
$secondary_color: #b2ee3b;
$side_paddings: 5.21vw;
$min_font_size: 1.25vw;
$menu_font_color: #A5A5A5;

// ————————————————————————————

body::-webkit-scrollbar {
    width: .42vw;
}

body::-webkit-scrollbar-track {
    background: $background_color;
}

body::-webkit-scrollbar-thumb {
    background: $secondary_color;
    border-radius: .42vw;
}

* {
    font-family: "Ubuntu", sans-serif;
    font-size: $min_font_size;
}

body {
    background: url(../img/hero_img.png) top no-repeat;
    background-size: 100vw 69.22vw;
    background-color: $background_color;
    overflow-x: clip;
}

section:not(#welcome-section),
#top-menu {
    padding: 0 $side_paddings;
}

section header :is(h1, h2) {
    margin: 0;
    font-size: 4.16em;
    color: $secondary_color;
    font-weight: 700;
    box-sizing: border-box;
}

#menu-bt {
    display: none;
}

// Top menu

#top-menu {
    position: fixed;
    top: -2.61vw;
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.61vw;
    width: 100vw;
    box-sizing: border-box;
    z-index: 8;
    will-change: top;

    nav ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 3.65vw;
        position: relative;
        height: 2.61vw;
        align-items: center;
    }

    nav ul li:first-child {
        margin-left: 1.57vw;
    }

    nav ul li:nth-last-child(2) {
        margin-right: 1.57vw;
    }

    nav ul a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: color ease-in-out 0.5s;
        height: 100%;
    }

    .active {
        color: $secondary_color;
    }

    nav ul li:hover a {
        color: $secondary_color;
    }

    nav ul li:nth-child(1):hover ~ #active-bg-slider {
        width: 8.81vw !important;
        margin-left: 0 !important;
    }

    nav ul li:nth-child(2):hover ~ #active-bg-slider {
        width: 8.6vw !important;
        margin-left: 9.22vw !important;
    }

    nav ul li:nth-child(3):hover ~ #active-bg-slider {
        width: 8.29vw !important;
        margin-left: 18.15vw !important;
    }

    nav ul li:nth-child(4):hover ~ #active-bg-slider {
        width: 6.78vw !important;
        margin-left: 26.88vw !important;
    }
}

#logo {
    width: 1.93vw;
    height: 1.93vw;
}

#active-bg-slider {
    position: absolute;
    top: 0;
    background-color: $background_color;
    width: 8.81vw;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    will-change: margin-left;
}

// Welcome section

#welcome-section {
    height: 50.53vw;
    display: flex;
    justify-content: space-between;

    .welcome-sidebar {
        width: 24vw;
        display: flex;
    }

    .welcome-sidebar:last-child {
        justify-content: right;
    }

    .welcome-actionbar {
        width: 13.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease-in-out;
        border-radius: 0 0 10vw 0;
    }

    #right-sidebar .welcome-actionbar {
        border-radius: 0 0 0 10vw;
    }

    .welcome-sidebar:hover > .welcome-actionbar {
        background-color: #ffffff0d !important;
    }

    .welcome-sidebar:hover > .welcome-actionbar > .triangle {
        background-color: white;
    }

    .triangle {
        width: 3.13vw;
        height: 3.13vw;
        background: rgba(255, 255, 255, 0.05);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: rotate(-90deg);
        transition: background-color 0.5s ease-in-out;
    }

    #right-sidebar .triangle {
        transform: rotate(90deg);
    }
}

// About me

#aboutme-section {
    position: relative;
    margin-top: 24.38vw;

    header div {
        display: flex;
        width: fit-content;
        color: white;

        a {
            position: relative;
        }

        a::before {
            content: "@loooltooot";
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, #b2ee3b 0%, #ff3f3f 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        a:hover::before {
            opacity: 1;
        }

        span {
            margin-left: .5vw;
        }
    }

    header h1 {
        margin-left: -0.19vw;
    }

    #aboutme-description {
        padding: 10vw 0 10vw $side_paddings;
        background-color: $primary_color;
        width: 94.8vw;
        transform: translateX(-$side_paddings);
        -webkit-transform: translateX(-$side_paddings - .42vw);
        -moz-transform: translateX(-$side_paddings);
        box-sizing: border-box;
        margin-top: 19.07vw;
        border-radius: 0 0 20.84vw 0;
        min-height: 39.59vw;

        span {
            display: block;
            font-weight: 700;
            // font-size: 1.33em;
            font-size: 2.66em;
            width: 51.88vw;

            .highlight {
                display: inline;
                width: fit-content;
                font-size: 1em;
                color: $primary_color;
                background-color: $background_color;
            }
        }
    }

    @keyframes legoman_animation {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(2deg);
        }
        100% {
            transform: rotate(1deg);
        }
    }

    #legoman {
        position: absolute;
        right: $side_paddings;
        top: -2.6vw;
        width: 44.64vw;
        transform-origin: 70% 50%;
        animation: legoman_animation 4s infinite alternate;
        will-change: top;
    }

    #aboutme-decal {
        position: absolute;
        right: $side_paddings;
        top: 1.87vw;
        z-index: -1;
        width: 38.23vw;
        height: 24.28vw;
        background-color: $primary_color;
        border-radius: 20.84vw 20.84vw 0 0;
        will-change: top;
    }
}

#aboutme-section header div a,
section header span {
    color: white;
    text-decoration: none;
    margin-top: -0.5vw;
    display: block;
}

// Portfolio

#portfolio-section {
    display: flex;
    flex-direction: column;
    margin-top: 7.19vw;

    header {
        text-align: right;

        h2 {
            margin-right: -0.35vw;
        }
    }

    #buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 13.9vw;

        svg {
            cursor: pointer;
            width: 39.32vw;
            height: 12.6vw;
        }

        .shadow {
            opacity: 0;
            transition: opacity ease 0.7s;
        }

        svg:hover > path.shadow {
            opacity: 1;
        }
    }
}

// Contacts

#contacts-section {
    margin-top: 18.25vw;
    background-color: $primary_color;
    position: relative;
    height: 31.41vw;
    overflow-x: clip;

    header {
        background-color: $background_color;
        width: 22.86vw;
        height: 4.51vw;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: -1vw;
        }
    }

    #contacts-description {
        display: flex;
        justify-content: space-between;

        #activity {
            width: 39.64vw;
            height: 16.67vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 4.74vw;

            p {
                font-weight: 700;
                font-size: 2.66em;
                margin: 0;
            }

            #contacts-buttons {
                display: flex;
                justify-content: space-between;
                width: 32.48vw;

                .contact-button {
                    border: $background_color solid 0.21vw;
                    padding: 1.38vw 2.6vw;
                    font-weight: bold;
                    cursor: pointer;
                    color: $background_color;
                    text-decoration: none;
                    transition: background-color ease-in-out 0.5s,
                        color ease-in-out 0.5s;
                }

                .contact-button:hover {
                    color: $primary_color;
                    background-color: $background_color;
                }
            }
        }

        #contacts-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $background_color;
            padding: 1.41vw $side_paddings 1.41vw 4.32vw;
            height: 6.82vw;
            transform: translateX($side_paddings);
            color: $primary_color;
            font-weight: 700;
            box-sizing: border-box;

            span {
                position: relative;
            }

            @mixin icon($content: "", $left: -2.84vw) {
                position: absolute;
                left: $left;
                top: 0;
                width: 1.82vw;
                height: 1.56vw;
                background-image: $content;
                background-size: 1.82vw 1.56vw;
                content: "";
            }

            span:first-child::before {
                @include icon($content: url("../img/email-cont.svg"));
                top: .12vw;
            }

            span:last-child::before {
                @include icon(
                    $content: url("../img/tg-cont.svg"), 
                    $left: -3vw
                );
            }
        }
    }

    #legohand {
        position: absolute;
        transform: rotate(90deg);
        left: 100vw;
        top: 39vw;
        width: 61.98vw;
        height: 34.84vw;
        transition: left ease-in-out 1.5s, transform ease-in-out 1.5s;
        transform-origin: 100% 30%;
        will-change: transform, left;
    }

    @keyframes legohand_animation {
        0% {
            transform: rotate(56.78deg);
        }
        33% {
            transform: rotate(62deg);
        }
        66% {
            transform: rotate(55deg);
        }
        100% {
            transform: rotate(58deg);
        }
    }

    #legohand.animated-hand {
        left: 50.39vw;
        transform: rotate(56.78deg);
    }

    #legohand.animation-hand {
        animation: legohand_animation 8s infinite alternate;
    }
}

// Footer

body > footer {
    margin-top: 12.53vw;
    position: relative;

    #footer-logo {
        width: 100vw;
        height: 16.98vw;
        position: absolute;
        top: 3vw;
        filter: none;
        transition: filter ease-in-out .5s;
    }

    .actionbar {
        height: 19.95vw;
        background: linear-gradient(
            180deg,
            rgba(23, 23, 23, 0) 48.44%,
            #b2ee3b 100%
        );
        width: 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
}

body > footer:hover {
    .actionbar {
        opacity: 1;
    }

    #footer-logo {
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

// Menu

#menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($color: $background_color, $alpha: .95);
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    padding-top: 2.92vw !important;
    padding-bottom: 2.92vw !important;
    opacity: 0;
    z-index: -1;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 4.48vw;
            height: 4.48vw;
        }

        #circle {
            width: 2.39vw;
            height: 2.39vw;
            border: $primary_color solid .42vw;
            border-radius: 50%;
            transition: background-color ease-in-out .5s;
            cursor: pointer;
        }

        #circle:hover {
            background-color: $primary_color;
        }
    }

    nav {
        display: flex;
        height: 29.64vw;
        
        ul {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0;

            li {
                a {
                    color: $menu_font_color;
                    font-size: 2.66em;
                    font-weight: 700;
                    text-decoration: none;
                    transition: color ease-in-out .5s;
                }

                a.active {
                    color: $background_color;      
                }
            }

            li:hover a {              
                color: $background_color !important;              
            }

            div {
                background-color: $primary_color;
                height: 3.89vw;
                width: 100%;
                position: absolute;
                z-index: -1;
                transition: margin-top ease-in-out .5s;
                will-change: margin-top;
            }

            li:nth-child(1):hover ~ div {
                margin-top: 0;
            }

            li:nth-child(2):hover ~ div {
                margin-top: 8vw;
            }

            li:nth-child(3):hover ~ div {
                margin-top: 15.7vw;
            }

            li:nth-child(4):hover ~ div {
                margin-top: 23.5vw;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;

        img {
            width: 17.03vw;
        }

        div {
            display: flex;
            justify-content: space-between;
            width: 17.03vw;

            svg {
                width: 3.44vw;
                cursor: pointer;

                path {
                    transition: fill ease-in-out .5s;
                }
            }

            svg:last-child {
                width: 4.11vw;
            }

            svg:hover path {
                fill: white;
            }
        }
    }
}

// Mobile

@media screen and (max-width: 450px) {
    $min_font_size: 3.89vw;

    body {
        background: $background_color url(../img/hero_img.png) 45% 0% no-repeat;
        background-size: 280%;
    }

    * {
        font-size: $min_font_size;
        cursor: default;
    }

    body header :is(h1, h2) {
        font-size: 2.57em;
    }

    #menu-bt {
        display: block;
        position: sticky;
        top: 2.78vw;
        width: 7.78vw;
        margin-top: 150vw;
        margin-left: 100vw - 24.67vw;
        cursor: pointer;
        z-index: 9;

        rect {
            transition: fill .3s ease-in-out;
        }
    }

    #top-menu {
        top: 0;
        height: 11.11vw;
        opacity: 0;
        transition: opacity ease-in-out .3s;

        #logo {
            width: 5.56vw;
            height: 5.56vw;
        }

        nav {
            display: none;
        }
    }

    #welcome-section {
        display: none;
    }

    #aboutme-section {
        margin-top: 50vw;

        header {
            div span {
                margin-left: 1vw;
            }
        }

        #aboutme-description {
            width: 100vw;
            border-radius: 0;
            box-sizing: border-box;
            padding: 8.33vw $side_paddings;
            margin-top: 13.89vw;
            min-height: 62.5vw;

            span {
                width: fit-content;
                font-size: 1.71em;
            }
        }

        #legoman, #aboutme-decal {
            display: none;
        }
    }

    #portfolio-section {
        margin-top: 27.78vw;

        #buttons {
            flex-direction: column;
            align-items: center;
            gap: 13.33vw;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    #contacts-section {
        margin-top: 27.78vw;
        height: fit-content;

        header {
            width: fit-content;
            padding: 1vw 1vw 2.56vw;

            h2 {
                margin-top: 0;
            }
        }

        #contacts-description {
            #activity {
                height: fit-content;
                width: 100%;
                margin-top: 8.33vw;

                p {
                    font-size: 1.71em;
                }

                #contacts-buttons {
                    margin-top: 8.33vw;
                    margin-bottom: 5.33vw;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 2.78vw;

                    .contact-button {
                        width: fit-content;
                        font-size: 1.51em;
                        border: $background_color solid .83vw;
                    }
                }
            }

            #contacts-block {
                display: none;
            }

            #legohand {
                display: none;
            }
        }
    }

    #menu {
        header {
            margin-top: 5vw;

            img {
                width: 10vw;
                height: 10vw;
            }

            #circle {
                width: 8vw;
                height: 8vw;
                border-width: 1.11vw;
            }
        }

        nav {
            height: 50vh;

            ul {
                li:hover a {              
                    color: $menu_font_color !important;              
                }
            }
        }

        footer {
            img {
                width: 30vw;
            }

            div {
                width: 38vw;
                gap: 5vw;

                svg {
                    width: 9vw;
                }
                
                svg:last-child {
                    width: 10vw;
                }
            }
        }
    }
}