// Variebles section

$background_color: #101010;
$primary_color: #ff3f3f;
$secondary_color: #b2ee3b;
$side_paddings: 5.21vw;
$min_font_size: 1.25vw;

// ————————————————————————————

* {
    font-family: "Ubuntu", sans-serif;
    font-size: $min_font_size;
}

body {
    background: url(../img/hero_img.png) top no-repeat;
    background-color: $background_color;
}

section:not(#welcome-section),
#top-menu {
    padding: 0 $side_paddings;
}

section header :is(h1, h2) {
    margin: 0;
    font-size: 4.16em;
    color: $secondary_color;
    font-weight: 700;
    box-sizing: border-box;
}

// Top menu

#top-menu {
    position: fixed;
    top: 0;
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.61vw;
    width: 100vw;
    box-sizing: border-box;
    display: none;

    nav ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 3.65vw;
        position: relative;
        height: 2.61vw;
        align-items: center;
    }

    nav ul li:first-child {
        padding-left: 1.57vw;
    }

    nav ul li:nth-last-child(2) {
        padding-right: 1.57vw;
    }

    nav ul a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: color ease-in-out 0.5s;
        height: 100%;
    }

    .active {
        color: $secondary_color;
    }

    nav ul li:hover a {
        color: $secondary_color;
    }

    nav ul li:nth-child(1):hover ~ #active-bg-slider {
        width: 8.81vw;
        margin-left: 0;
    }

    nav ul li:nth-child(2):hover ~ #active-bg-slider {
        width: 8.6vw;
        margin-left: 9.22vw;
    }

    nav ul li:nth-child(3):hover ~ #active-bg-slider {
        width: 6.78vw;
        margin-left: 18.15vw;
    }

    nav ul li:nth-child(4):hover ~ #active-bg-slider {
        width: 8.29vw;
        margin-left: 25.53vw;
    }
}

#logo {
    width: 1.93vw;
    height: 1.93vw;
}

#active-bg-slider {
    position: absolute;
    top: 0;
    background-color: $background_color;
    width: 8.81vw;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

// Welcome section

#welcome-section {
    height: 50.53vw;
    display: flex;
    justify-content: space-between;

    .welcome-sidebar {
        width: 24vw;
        display: flex;
    }

    .welcome-sidebar:last-child {
        justify-content: right;
    }

    .welcome-actionbar {
        width: 13.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease-in-out;
        border-radius: 0 0 10vw 0;
    }

    #right-sidebar .welcome-actionbar {
        border-radius: 0 0 0 10vw;
    }

    .welcome-sidebar:hover > .welcome-actionbar {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .welcome-sidebar:hover > .welcome-actionbar > .triangle {
        background-color: rgba(255, 255, 255, 0.45);
    }

    .triangle {
        width: 61px;
        height: 60px;
        background: rgba(255, 255, 255, 0.05);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: rotate(-90deg);
        transition: background-color 0.5s ease-in-out;
    }

    #right-sidebar .triangle {
        transform: rotate(90deg);
    }
}

// About me

#aboutme-section {
    position: relative;
    margin-top: 24.38vw;

    header div {
        display: flex;
        justify-content: space-between;
        width: 24vw;
        color: white;

        a {
            position: relative;
        }

        a::before {
            content: "@loooltooot";
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, #b2ee3b 0%, #ff3f3f 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        a:hover::before {
            opacity: 1;
        }
    }

    header h1 {
        margin-left: -0.19vw;
    }

    #aboutme-description {
        padding: 10vw 0 10vw $side_paddings;
        background-color: $primary_color;
        width: 94.8vw;
        transform: translateX(-$side_paddings);
        box-sizing: border-box;
        margin-top: 19.07vw;
        border-radius: 0 0 20.84vw 0;

        span {
            display: block;
            font-weight: 700;
            // font-size: 1.33em;
            font-size: 2.66em;
            width: 51.88vw;

            .highlight {
                display: inline;
                width: fit-content;
                font-size: 1em;
                color: $primary_color;
                background-color: $background_color;
            }
        }
    }

    #legoman {
        position: absolute;
        right: $side_paddings;
        top: -2.6vw;
        width: 44.64vw;
    }

    #aboutme-decal {
        position: absolute;
        right: $side_paddings;
        top: 1.87vw;
        z-index: -1;
        width: 38.23vw;
        height: 24.28vw;
        background-color: $primary_color;
        border-radius: 20.84vw 20.84vw 0 0;
    }
}

#aboutme-section header div a,
section header span {
    color: white;
    text-decoration: none;
    margin-top: -0.5vw;
    display: block;
}

// Portfolio

#portfolio-section {
    display: flex;
    flex-direction: column;
    margin-top: 7.19vw;

    header {
        text-align: right;

        h2 {
            margin-right: -0.35vw;
        }
    }

    #buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10.9vw;

        svg {
            cursor: pointer;
        }

        .shadow {
            opacity: 0;
            transition: opacity ease 0.7s;
        }

        svg:hover > path.shadow {
            opacity: 1;
        }
    }
}

// Contacts

#contacts-section {
    margin-top: 18.25vw;
}
