$background_color: #171717;
$primary_color: #FF3F3F;
$secondary_color: #B2EE3B;

* {
    font-family: 'Montserrat', sans-serif;
}

// body {
//     background: url(../img/hero_img.png) top no-repeat;
//     background-color: $background_color;
//     height: 1000vh;
// }