@import 'portfolio';

.portfolio-item#st-tech {
    background: linear-gradient(0deg, #ffffff 0%, #EB3B8B 100%);
}

.portfolio-item#st-tech::before {
    @include beforeBg($bg: linear-gradient(180deg, #ffffff 0%, #EB3B8B 100%));
}

.portfolio-item#gribko {
    background: linear-gradient(180deg, #000000 0%, #3BD055 100%);
}

.portfolio-item#gribko::before {
    @include beforeBg($bg: linear-gradient(0deg, #000000 0%, #3BD055 100%));
}

.portfolio-item#int {
    background: linear-gradient(180deg, #000000 0%, #CEFF67 100%);
}

.portfolio-item#int::before {
    @include beforeBg($bg: linear-gradient(0deg, #000000 0%, #CEFF67 100%));
}

.portfolio-item#tr {
    background: linear-gradient(180deg, #6CF8E8 0%, #60D7C9 100%);
}

.portfolio-item#tr::before {
    @include beforeBg($bg: linear-gradient(0deg, #6CF8E8 0%, #60D7C9 100%));
}

.portfolio-item#idara {
    background: linear-gradient(180deg, #61c573 0%, #7DFF94 100%);
}

.portfolio-item#idara::before {
    @include beforeBg($bg: linear-gradient(0deg, #61c573 0%, #7DFF94 100%));
}

.portfolio-item#my-giro {
    background: linear-gradient(180deg, #f3f3f3 0%, #faa4a4 100%);
}

.portfolio-item#my-giro::before {
    @include beforeBg($bg: linear-gradient(0deg, #f3f3f3 0%, #faa4a4 100%));
}

.portfolio-item#v-no {
    background: linear-gradient(180deg, #004479 0%, #ac2d40 100%);
}

.portfolio-item#v-no::before {
    @include beforeBg($bg: linear-gradient(0deg, #004479 0%, #ac2d40 100%));
}

.portfolio-item#rare {
    background: linear-gradient(180deg, #ab11da 0%, #e24177 100%);
}

.portfolio-item#rare::before {
    @include beforeBg($bg: linear-gradient(0deg, #ab11da 0%, #e24177 100%));
}

.portfolio-item#yaku {
    background: linear-gradient(180deg, #ffffff 0%, #1d1d1d 100%);
}

.portfolio-item#yaku::before {
    @include beforeBg($bg: linear-gradient(0deg, #ffffff 0%, #1d1d1d 100%));
}

.portfolio-item:hover::before {
    opacity: 1 !important;
}

.portfolio-item {
    position: relative;

    .bg-img {
        width: 31.15vw;
        margin: 0 auto;
    }

    .mb-bg-img {
        width: 7.19vw;
        position: absolute;
        z-index: 9;
    }
}

@media screen and (max-width: 450px) {
    .portfolio-item {
        .bg-img {
            width: 83.33vw;
        }

        .mb-bg-img {
            width: 20vw;
        }
    }
}

.portfolio-item#int {

    img.bg-img,
    img.mb-bg-img {
        border-radius: 0;
        box-shadow: none;
        will-change: transform;
    }

    .bg-img {
        width: 20vw;
    }
}